.title {
  font-size: 1.4rem;
  font-weight: 800;
  /* display: flex;
  align-items: baseline; */
}

.landingPageWrapper {
  padding: 24px;
  font-family: "Manrope", sans-serif;
  /* display: flex;
  flex-direction: column; */
}

.description {
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 12px;
}

.descCardWrapper {
  display: flex;
  flex-direction: column;
  /* margin: auto;
  max-width: 60ch; */
  /* padding: 12px; */
}

/* .titleText {
  margin: auto;
} */

.answerPortion {
  --padding: 12px;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  align-items: center;
  gap: 24px;
  --padding-for-answer: 12px;
  --border-for-answer: 1px;
  --border-radius-for-answer: 10px;
}

.questionSection {
  margin: auto;
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
}
