.questionTitleWrapper {
  font-size: 1.2rem;
  font-weight: 550;
  display: flex;
  align-items: baseline;
}

.landingPageWrapper {
  padding: 24px;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
}

.landingPageDescriptionWrapper {
  padding: 12px;
}

.hr {
  margin-bottom: 24px;
}

.titleText {
  margin: auto;
}

.answerPortion {
  --padding: 12px;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  width: min(55ch, 100% - calc(2 * var(--padding)));
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  gap: 24px;
  --padding-for-answer: 12px;
  --border-for-answer: 1px;
  --border-radius-for-answer: 10px;
}
