.questionTitle {
  max-height: 144px;
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 10px;
  max-width: 65ch;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
