.voteWrapper {
  padding-top: 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
}

.upvote,
.downvote {
  cursor: pointer;
  border: 1px solid #00425a;
  border-radius: 5px;
}

.upvoteSelected,
.downvoteSelected {
  background-color: #00425a;
  color: white;
  cursor: pointer;
  border: 1px solid #00425a;
  border-radius: 5px;
}

.count {
  display: inline-block;
  max-width: 10ch;
  min-width: 3ch;
  text-align: center;
}
