.answerWithVotes {
  --padding: 12px;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  /* width: min(55ch, 100% - calc(2 * var(--padding))); */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: var(--root-border-radius);
  border-width: var(--root-border-width);
  border-color: var(--root-border-color);
  border-style: var(--root-border-style);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: min(60ch, 100%);
  gap: 2px;
  margin-bottom: 12px;
}
