.streamCard {
  max-height: 450px;
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 70ch;
  width: 100%;
}

.left {
  flex: 1;
  max-width: 60ch;
  padding: 12px;
  background-color: white;
  border-width: var(--root-border-width);
  border-radius: var(--root-border-radius);
  border-style: var(--root-border-style);
  border-color: var(--root-border-color);
}

.main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
