.questionCardWrapper {
  max-width: 70ch;
  background-color: white;
  border-width: var(--root-border-width);
  border-style: var(--root-border-style);
  border-radius: var(--root-border-radius);
  border-color: var(--root-border-color);
  margin: auto;
  margin-top: 24px;
  padding: 12px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}

.main {
  padding: 12px;
}
