.categories {
  border-radius: var(--root-border-radius);
  border-width: var(--root-border-width);
  border-style: var(--root-border-style);
  border-color: var(--root-border-color);
  border-radius: 6px;
  padding: 12px;
}

.renderDiv {
  border-radius: var(--root-border-radius);
  border-width: var(--root-border-width);
  border-style: var(--root-border-style);
  border-color: var(--root-border-color);
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.categoriesWrapper {
  width: 90%;
  padding: 2px;
}

.addButton {
  cursor: pointer;
  margin-top: 5px;
  font-size: 1.1rem;
}

.hiddenDiv {
  display: none;
}

.visibleDiv {
  display: block;
}
